*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Permanent Marker',cursive;
}
/* 
html,body{
  background: rgba(57, 161, 118, 0.212);
} */


.destinations{
  background: url('../images/hero-bg.jpg');
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
  object-fit: contain;
  margin-top: -80px;
  color: #fff;
  font-size: 8rem;
}